<div data-controller="toggle" data-toggle-attribute-class="hidden" class="grid xl:grid-cols-12 px-4 gap-2 relative">
  <div class="xl:col-span-8">
    <div class="relative" style="padding-bottom: 36%">
      <div class="absolute inset-0 -mx-4 xl:pr-4">
        <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1548661710-7f540c9c56d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=80" alt="">
      </div>
    </div>
    <div class="flex items-center justify-between">
      <nav>
        <a href="#" class="py-3 font-medium leading-5 px-4 inline-block text-gray-600 border-b-2 border-blue-500 hover:text-gray-900">Tweets</a>
      </nav>
      <div class="inline-flex flex-items-center justify-center xl:hidden">
        <button type="button" data-action="toggle#open" class="text-gray-500">
          <%= heroicon "menu-alt-3" %>
        </button>
      </div>
    </div>
    <div id="user-tweet-list" class="px-4 bg-white rounded-md shadow my-4 divide-y">
      <%= render @user_tweets %>
    </div>
  </div>
  <aside data-toggle-target="toggleable" class="hidden xl:col-span-4 lg:pl-0 absolute w-80 border-l border-gray-200 right-0 top-0 xl:block bg-white xl:static xl:w-full xl:pl-4 xl:bg-transparent lg:border-l-0" style="height: calc(100vh - 64px)">
    <div class="relative">
      <div class="absolute -ml-12 xl:hidden top-2">
        <button type="button" data-action="toggle#hide" class="p-2 rounded-full text-gray-700 bg-white shadow">
          <%= heroicon "x" %>
        </button>
      </div>
      <div class="xl:mt-4 bg-white xl:rounded-lg xl:shadow">
        <div class="divide-y">
          <section class="py-3 text-center">
            <div>
              <%= image_tag avatar_for(@user.full_name), aria: { label: @user.full_name }, class: "h-16 w-16 rounded-full mx-auto" %>
            </div>
            <h2 class="text-base mt-2 leading-5"><%= @user.full_name %></h2>
            <span class="text-gray-500 leading-5">@<%= @user.username %></span>
          </section>
          <%= render "stat", user: @user %>
          <section id="user-followers" class="py-3">
            <h3 class="px-3 text-base text-gray-600 font-medium mb-2">Followed by</h3>
            <%= render @user.followers %>
          </section>
          <section id="user-followings" class="py-3">
            <h3 class="px-3 text-base text-gray-600 font-medium mb-2">Following</h3>
            <%= render @user.followings %>
          </section>
        </div>
      </div>
    </div>
  </aside>
</div>
